@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@300&display=swap');

* {
    font-family: Be Vietnam;
    margin: 0px;
    box-sizing: border-box;
}

main {
    background-image: url("../img/Background\ \(1\).png");
}

main nav.encabezado {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 65px 165px;
}

main nav.encabezado img.logomanage {
    width: 145.54px;
    height: 23.74px;
}

main nav.encabezado ul.navbar {
    list-style: none;
    width: 382px;
    height: 23px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 10px;   
}

main nav.encabezado ul.navbar li {
    font-weight: 500;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    color: #242E52;
} 

main button {
    width: 134px;
    height: 44px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
    background-color: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    padding: 12.5px 30.5px;
}

main nav.encabezado button.inicio {
    position: relative;
    top: -12px;
}

main section.principal {
    width: 1220px;
    height: 525px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section.principal article.prin1 {
    position: relative;
    top: 120px;
    width: 439px;
    height: 386px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 150px;
    margin-bottom: 100px;
}

main section.principal article.prin1 h1{
    font-weight: bold;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: -0.035em;
    color: #232C50;
}

main section.principal article.prin1 p {
    width: 350px;
    height: 71px;
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%
}

main section.principal article.prin2 {
    position: relative;
    top: 70px;
    left: 55px;
}

main section.segunda {
    position: relative;
    top: 130px;
    width: 1220px;
    height: 525px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section.segunda article.columna1 {
    position: relative;
    bottom: 100px;
    height: 212px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section.segunda article.columna1 h2 {
    width: 433px;
    font-weight: bold;
    font-size: 36px;
    line-height: 114.6%;
    color: #232851;
}

main section.segunda article.columna1 p {
    width: 337px;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.1%;
}

main section.segunda article.columna2 div.numeracion {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main section.segunda article.columna2 div.numeracion div.text {
    width: 516px;
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
}

main section.segunda article.columna2 div.numeracion button {
    position: relative;
    top: 10px;
    width: 69px;
    height: 43px;
    background-color: #F3603B;
    border-radius: 30px;
}

main section.segunda article.columna2 div.numeracion div.text h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.015em;
    color: #323851;
}

main section.segunda article.columna2 div.numeracion div.text p {
    position: relative;
    top: 5px;
    width: 437px;
    height: 104px;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #B3B2B7;
}

main section.tercera {
    position: relative;
    top: 180px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main section.tercera h3 {
    font-weight: bold;
    font-size: 39.2143px;
    line-height: 156.6%;
    letter-spacing: -0.01em;
    color: #242E53;
    margin-top: 100px;
}

main section.tercera div.perfiles {
    position: relative;
    top: 150px;
    width: 1300px;
    height: 219px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}

main section.tercera div.perfiles article {
    width: 403px;
    height: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section.tercera div.perfiles article img {
    position: relative;
    bottom: 40px;
}

main section.tercera div.perfiles article h6 {
    font-weight: bold;
    font-size: 16.0714px;
    line-height: 156.6%;
    letter-spacing: -0.01em; 
    color: #3F4868;
}

main section.tercera div.perfiles article p {
    font-weight: 500;
    font-size: 16px;
    line-height: 156.6%;
    color: #B9B9C1;
    text-align: center;
}

main section.tercera button {
    margin-top: 200px;
}

footer.primero {
    position: relative;
    top: 300px;
    height: 224px;
    background-color: #F3613C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 80px 64px 125px;
}

footer.primero img {
    position: relative;
    top: 100px;
    z-index: 1;
}

footer.primero h4 {
    position: relative;
    right: 525px;
    width: 438px;
    height: 96px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

footer.primero button {
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
    color: #F3603B;
    width: 134px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
}

footer.segundo {
    position: relative;
    top: 300px;
    height: 247px;
    background: #1E1E26;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer.segundo div.iconos {
    width: 392.73px;
    height: 141.14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 160px;
    text-align: center;
}

footer.segundo div.iconos article {
    width: 155px;
    display: flex;
    justify-content: space-evenly;
}

footer.segundo nav.footer1 ul {
    position: relative;
    right: 120px;
    height: 141.14px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

footer.segundo nav.footer1 ul li {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 23px;
}

footer.segundo nav.footer1 ul.lista2 {
    position: relative;
    right: 40px;
    bottom: 15px;
    height: 106px;
}

footer.segundo article.botones {
    height: 141px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 80px;
}

footer.segundo article.botones div.go input {
    width: 201px;
    height: 44px;
    left: -0.09px;
    top: 2.26px;        
    background: #FFFFFF;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
}

footer.segundo article.botones div.go button {
    width: 63px;
    height: 42px;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #F3603B;
    border-radius: 50px;
    border: none;
}

footer.segundo article.botones span {
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;
    margin: 5px;
}





